iframe{
    width: 60%!important;
    height: 800px!important;
    position: absolute;
    left: 64% !important;
    top: 17% !important;
}

.danger-error{
    background-color: rgb(235, 134, 134);
    color: red;
    border-radius: 10px;
}